{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  


    <div class="container py-4 py-lg-5 my-4">
        <div class="row">
         <div class="card border-0 shadow">
          <div class="col-md-12 pt-4 mt-3 mt-md-0">
            <h2 class="h4 mb-3">No account? Sign up</h2>
            <p class="fs-sm text-muted mb-4">Registration takes less than a minute but gives you full control over your orders.</p>
            <div class="needs-validation" novalidate>
             {{ form_start(registrationForm) }}
              <div class="row gx-4 gy-3">
                <div class="col-sm-6">
                  <label class="form-label" for="reg-fn">First Name</label>
                   {{ form_row(registrationForm.email) }}
                  <div class="invalid-feedback">Please enter your first name!</div>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="reg-ln">Last Name</label>
                 {{ form_row(registrationForm.nom) }}
                  <div class="invalid-feedback">Please enter your last name!</div>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="reg-email">E-mail Address</label>
                    {{ form_row(registrationForm.prenom) }}
                  <div class="invalid-feedback">Please enter valid email address!</div>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="reg-phone">Phone Number</label>
                    {{ form_row(registrationForm.phone) }}
                  <div class="invalid-feedback">Please enter your phone number!</div>
                </div>
                <div class="col-sm-12">
                  <label class="form-label" for="reg-password">Password</label>
                   {{ form_row(registrationForm.plainPassword) }}
                  <div class="invalid-feedback">Please enter password!</div>
                </div>
                
                <div class="col-12 text-end">
                  <button class="btn btn-primary" type="submit"><i class="ci-user me-2 ms-n1"></i>Sign Up</button>
                </div>
              </div> {{ form_end(registrationForm) }}
            </div>
          </div> </div>
        </div>
      </div>
{% endblock %}
